- model_class = Task
.row
  .col-md-6.offset-md-3
    .card
      .card-header
        %h3 Editing task
      .card-body
        .card-text
          = render 'form'
      .card-footer
        = link_to 'Show', tenant_project_task_path
        \|
        = link_to 'Back', tenant_project_path(tenant_id: Tenant.current_tenant_id, id: @task.project_id)