- if current_user
  %h3
    Organization: #{@tenant.name}

  \#{render 'projects/list'}
- else
  .jumbotron
    %h2 Welcome to the Project Management Application!
    %p.lead
      You'll love managing your project with our SaaS application. Please
      take a look at our great plans
  .row
    .col-md-6
      .card
        .card-header
          %h2 Free Plan
        .card-body
          %h5.card-title Price: Free
          .card-text
            %ul
              %li Unlimited file uploads
              %li Responsive design
              %li Access anywhere
              %li 1 project
            = link_to 'Sign Up', new_user_registration_path(plan: 'free'), class: 'btn btn-primary'
    .col-md-6
      .card
        .card-header
          %h2 Premium Plan
        .card-body
          %h5.card-title Price: $10
          .card-text
            %ul
              %li Unlimited file uploads
              %li Responsive design
              %li Access anywhere
              %li.bold Unlimited projects
            = link_to 'Sign Up', new_user_registration_path(plan: 'free'), class: 'btn btn-primary'
