<% if current_user %>
  <div class="cover d-flex h-100 p-3 mx-auto flex-column text-center">
    <h1 class="cover-heading">Organization: <%= @tenant.name %></h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi aspernatur, aut consequatur, cupiditate deleniti deserunt excepturi harum laudantium mollitia nesciunt nobis obcaecati quidem, quod recusandae! Alias, aperiam dolore. Est!</p>
  </div>
<% else %>

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Welcome to the Project Management App</h1>
    <p class="lead">Quickly build an effective space for you and your team to get sh!t done. Check out or pricing plans below to learn more..</p>
  </div>
  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Free</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Unlimited file uploads</li>
            <li>Responsive design</li>
            <li>Access anywhere</li>
            <li>1 project</li>
          </ul>
          <%= link_to 'Sign up for free', new_user_registration_path(plan: 'free'), class: 'btn btn-lg btn-block btn-outline-primary' %>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Pro</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$10 <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Unlimited file uploads</li>
            <li>Responsive design</li>
            <li>Access anywhere</li>
            <li>Unlimited projects</li>
          </ul>
          <%= link_to 'Get Started', new_user_registration_path(plan: 'premium'), class: 'btn btn-lg btn-block btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>