- model_class = Project
.row
  .col-md-6.offset-md-3
    .card
      .card-header
        %h1= t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize
      .card-body
        = render :partial => 'form'
