- model_class = Artifact
.row
  .col-md-6.offset-md-3
    .card
      .card-header
        %h3= t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize
      .card-body
        .card-text
          = render :partial => 'form'